.section-main {
  flex: 1 1 auto;
}

.path-login {
  align-items: center;
  display: flex;
  justify-content: center;

  .loginForm {
    width: 80%;

    @include media(md) {
      max-width: 500px;
      width: 60%;
    }
  }

  .signup {
    margin-bottom: 20px;
    text-align: center;

    &.t-h3 {
      width: 100%;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    input[type="email"],
    input[type="password"],
    input[type="submit"] {
      @include t-regular;
      @include t-sz-md;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      box-shadow: inset 0 2px 5px 0 rgba(204, 204, 204, 0.5);
      box-sizing: border-box;
      height: 100%;
      margin-bottom: 20px;
      outline: none;
      padding: 12px;
      width: 100%;

      &::placeholder {
        @include t-italic;
      }
    }

    input[type="submit"] {
      background-color: $color_brand;
      border: none;
      color: $color_white;
      margin-bottom: 20px;

      &:hover {
        background-color: lighten($color_brand, 10%);
      }

      &:active {
        background-color: darken($color_brand, 10%);
      }
    }
  }

  hr {
    margin: 0 0 20px;
  }
}
