.section-main {
  flex: 1 1 auto;
}

.path-login {
  align-items: center;
  display: flex;
  justify-content: center;

  .loginForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;

    @include media(md) {
      max-width: 500px;
      width: 60%;
    }
  }

  .signup {
    margin-bottom: 20px;
    text-align: center;

    &.t-h3 {
      width: 100%;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  hr {
    margin: 0 0 20px;
  }
}
