// include all utilities
@import 'utilities/reset';
@import 'utilities/variables';
@import 'utilities/fonts';
@import 'utilities/mixins';
@import 'utilities/animate';
// @import 'utilities/base';

// include all ui-elements
@import 'ui/typography';
// @import '../../ui-elements/buttons';
// @import '../../ui-elements/input-fields';

// include all components
// @import '#{$component_path}modal/modal-base';
// @import '../../components/nav/nav-base';

h1 {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 48px;
}
